# Credenciales del servicio de LDAP
[INFO]
customer = Template
[LDAP]
name = "Template"
server = 
user = 
password = 
search_base = 
[CUCM]
server = 
user = 
pass = 
version = 
[CUC]
server =
user = 
pass = 
version =  
[CUP]
server =
user = 
pass = 
version =  
[UCCX]
server =
user = 
pass = 
version =  
[GMAIL]
username = 
from = 
password = 
smtpserver = 
smtpport = 
[SQL]
server = 
database = 
user = 
password = 
